.top-body{
    display: flex;
    height: 75px;
    justify-content: space-between;
}
.top-left{
    display: flex;
}
.top-menu-left{
    display: flex;
    position:relative;
    top:0;
    left:-100;
    font-size: 1.2em;
    font-weight: bold;
    padding-right:10px;
    height: 50px;
}

.top-menu-right{
    display: flex;

}
.top-left>img{
    height:50px;
}
#menu-items{
    margin-left: 10px;
}




.second-menu-body{
    display: flex;
    justify-content: space-between;
    background-color: rgb(90, 86, 86);
    color:white;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    
}
#icon:hover{
    background-color: greenyellow;
}

.icon{
    display: flex;

}
#icon{
    padding:0px 7px;
    text-align: left;
}

.small-but{
    display: flex;
}
#small-but{
    width:40px;
    height:30px;
}




.buttom{
    display: flex;
    justify-content: flex-start;
}
.scoll{
    border: 2px solid black;
    background-color: aquamarine;
}
.scoll>#scroll>menu{
    text-align: left;
    margin: 0px;
    padding-left: 2px;
}
.paragraph{
    background-color: rgb(158, 156, 156);
    font-family: fantasy;
    text-align: center;
    box-sizing: border-box;
    padding: 7px;
}
#ad{
    flex:1;
    width:100px;
    
}

